@model magnadigi.Controllers.ContactController
@{
    ViewData["Title"] = "GroupConscience";
}
<div class="intro-text">
    <center>
        <img class="ai-logo" src="~/img/gcai_logo_light.png" />
        <p><h2 class="general-heading">About</h2></p>
    </center>
</div>
<div class="intro-text">
    <p class="general-body-text">Groupconscience.ai gives individual members a chance to contribute and vote on posted truths put forward by fellow recovering alcoholics. In turn, the truths that have the highest acceptance are periodically ingested to improve the AI model. Thus, the responses reflect the conscience of the people that have contributed over time.</p>

    <p class="general-body-text">This is a bottom-up, rather than top-down approach.  Here individuals decide which posts to promote rather than companies or other outside influences.  At this point our AI is based on a refined version of the LLAMA2 (Wikipedia based) model. Our aim is to gather enough input from our members to generate a model that reflects our precious beliefs.  This way the LLM can respond in a way similar to what one might hear in person at one of our meetings.</p>

    <p class="general-body-text">In the end we expect that anything this experiment becomes, will be exactly what the individuals that contribute make it.  In other words for better, worse, or not at all; it’s in our hands. I would like to encourage you to think about the ways that a newcomer may look for help in the future. It would be rather unfortunate if the technology they use is insufficient to the task. So by all means, jump on in and share with us. Let's make this the perfectly imperfect extension of our our higher powers love and grace; just like the AA meetings we have all come to know and enjoy.</p>
    <p class="general-body-text">Questions, comments, concerns??  We would love to hear from you if your inclined to share your thoughts with us.  Here is the best way to get in touch.</p>
</div>
<section class="flexbox-contact-page-container">
    <div class="flexbox-container center">
        <div class="dialog-box-container">
            <div class="flexbox-container">
                <form method="post" action="/Contact" enctype="multipart/form-data">
                    <div class="contact-heading">
                        <center><img src="/icon/device-message.svg" style="height:100px;justify-content:center;" /></center>
                        <center>Contact</center>
                    </div>
                    <div class="form-floating mb-3">
                        <p><div asp-validation-summary="ModelOnly" class="alert-color hidden"></div></p>
                        <input asp-for="Name" id="Name" class="form-control" placeholder="First/Last Name" required />
                        <label asp-for="Name">Name</label>
                        <p style="margin:5px;"><span asp-validation-for="Name" class="alert-color"></span></p>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Email" id="Email" class="form-control" placeholder="example@somewhere.com" required />
                        <label asp-for="Email"></label>
                        <p style="margin:5px;"><span asp-validation-for="Email" class="alert-color"></span></p>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea asp-for="Message" id="Message" class="form-control" style="height: 100px" placeholder="Message" required></textarea>
                        <label asp-for="Message"></label>
                        <p style="margin:5px;"><span asp-validation-for="Message" class="alert-color"></span></p>
                    </div>
                    <div class="form-floating mb-3">
                        <center><button type="submit" class="form-button">Send</button></center>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br />
</section>
<br />
<br />
<br />

@* This section only in non sensitive areas *@
@section Scripts {
    <partial name="_GoogleAnalytics" />
}