@{
    ViewData["Title"] = "GroupConscience";
}
<div class="banner-fade" id="banner-fade">
<div class="banner">
    <img class="banner-img" src="~/img/banner-7.png" />
    <div class="banner-text-container">
        <div class="banner-text-row">
            "For our group purpose there is but one ultimate authority—a loving God as He may express Himself in our group conscience."
        </div>
    </div>
</div>
<div class="banner-container">
    <div class="banner-row">
        <div class="angled-left">
            <div class="io-example-heading-left">
               Help others
            </div>
            <img class="io-example" src="~/img/io.png" />
        </div>
        <div class="angled-right">
            <div class="io-example-heading-right">
               Chat with Alex
            </div>
            <img class="io-example" src="~/img/ai.png" />
        </div>
    </div>
</div>
<div id="scroll-handle"></div>
<div class="intro-heading-ai" id="intro_ai" >
    <span class="intro-ai-text">Our collective conscience is here to aid in your recovery journey by providing grounded literature and member-supplemented information.</span>
</div>
<div class="intro-heading" id="intro_io">
    <span class="intro-io-text">Together, we make contributions with an immense reach; by placing our anonymous beliefs within a collective AI conscience.</span>
   @*  <span class="intro-io-subtext">If you have a desire to stop drinking or stay sober, you are invited to contribute using this form. Registered users gain the abillity to have votes counted. Additionally, their favorites and posts can be managed under their profile. May the power behind the program be your guide.</span> *@
</div>
<div class="intro-text general-body-text" id="intro-text">
    @*  If you have a desire to stop drinking or stay sober, you are invited to contribute using this form. Registered users gain the abillity to have votes counted. Additionally, their favorites and posts can be managed under their profile. May the power behind the program be your guide. *@
</div>
</div>
<br />
<div class="toggle-container">
    <span class="toggle-description">Toggle Share/Chat mode.</span>
    <div class="on-off-toggle" >
        <input class="on-off-toggle__input" type="checkbox" id="bopis" />
        <label for="bopis" class="on-off-toggle__slider"></label>
    </div> 
</div>
<div class="card" id="card">
    <div class="card__inner" id="card__inner">
        <div class="card__face card__face--front">
            <div class="post-container" >
                <div class="card-header">
                    <span class="card-header-span">Share experience, strength, hope</span>                    
                </div>
                <div class="tab-row">
                    <div class="tab1 tab active">Truth<div class="indicator1 indicator active"></div></div>
                    <div class="tab2 tab">Humor<div class="indicator2 indicator"></div></div>
                    <div class="tab3 tab">Prob / Solution<div class="indicator3 indicator"></div></div>
                </div>
                <input type="text" id="userInput" value="Anonymous" hidden />
                <textarea class="post-message-container1 content active" type="text" id="messageInputTruth" placeholder="Enter your truth here."></textarea>
                <textarea class="post-message-container2 content active" type="text" id="messageInputHumor" placeholder="Make us laugh here."></textarea>
                <textarea class="post-message-container3 content active" type="text" id="messageInputProblem" placeholder="Enter a problem here."></textarea>
                <textarea class="post-message-container4 content active" type="text" id="messageInputSolution" placeholder="Enter the solution here."></textarea>
                <div class="button-row">
                    <div class="button1"></div>
                    <div class="button2"></div>
                    <div class="button3"></div>
                    <div class="button4" type="button" value="Clear" onclick="javascript:eraseText();">Clear</div>
                    <div class="button5" type="button" id="sendButton">Submit</div>
                </div>
            </div>
        </div>
        <div class="card__face card__face--back">
            <div class="post-container" id="testid">
                <div class="card-header">
                    <span class="card-header-span">Chat with Alex A.I.</span>
                </div>
                <div class="tab-row">
                    <div class="tab4-ai tab active">AI<div class="indicator4-ai indicator"></div></div>
                </div>
                <input type="text" id="userInput" value="Anonymous" hidden />
                <textarea class="post-message-container5-AI content active" type="text" id="messageInputAI" placeholder="Enter your AA related question here."></textarea>
                <div class="button-row">
                    <div class="button1"></div>
                    <div class="button2"></div>
                    <div class="button3"></div>
                    <div class="button4" type="button" value="Clear" onclick="javascript:eraseText();">Clear</div>
                    <div class="button5" type="button" id="sendButton2">Submit</div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="spinner hidden">
    <div class="sk-grid">
        <div class="sk-grid-cube"></div>
        <div class="sk-grid-cube"></div>
        <div class="sk-grid-cube"></div>
        <div class="sk-grid-cube"></div>
        <div class="sk-grid-cube"></div>
        <div class="sk-grid-cube"></div>
        <div class="sk-grid-cube"></div>
        <div class="sk-grid-cube"></div>
        <div class="sk-grid-cube"></div>
    </div>
</div>
<div class="nav-post-range-col">
    <span id="back-nav" class="back-nav">
        <div id="left-nav-end" class="left-nav-end"><img src="~/icon/two-arrow-right.svg" class="left-single-arrow" /><span class="start-page-text-left">start</span></div>
        <div id="left-nav-next" class="left-nav-next"><img src="~/icon/one-arrow-right.svg" class="left-double-arrow" /><span id="previous_page" class="previous-page-num-left sudo-hidden">1|x</span><span class="prev">prev.</span></div>
    </span>
        
    <span id="forward-nav" class="forward-nav">
        <div id="right-nav-next" class="right-nav-next"><span id="next_page" class="next-page-num-right sudo-hidden">2|x</span><span class="next">next</span><img class="right-single-arrow" src="~/icon/one-arrow-right.svg" /></div>
        <div id="right-nav-end" class="right-nav-end"><span class="end-page-text-right">end</span><img class="right-double-arrow" src="~/icon/two-arrow-right.svg" /></div>
    </span>   
</div>
<div class="messages-container" id="insert-messages"></div>
<div class="ai-container" id="insert-ai-response"></div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

@* This section only in non sensitive areas *@
@section Scripts {
    <partial name="_GoogleAnalytics" /> 
}