@model magnadigi.Controllers.ContactController
@{
    ViewData["Title"] = "Privacy Policy";
}
@* @section GoogleAnalyticsScript{
    <!-- Google tag (gtag.js) which is only loaded outside of customer portal-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WX92D67Z8T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WX92D67Z8T');
    </script>
} *@
<div class="intro-text">
    <center><h3 class="general-heading">@ViewData["Title"]</h3></center>
</div>
<div class="intro-text general-body-text">
    <p>
        <h3>
            Privacy:
        </h3>
    </p>

    <p>Our primary purpose is to help alcoholics recover from alcoholism. With that in mind, here are steps we take to ensure the privacy of our users.</p>

    <p>All features of this site are kept in-house. This includes and is not limited to the following.</p>
    <ul>
        <li>Databases</li>
        <li>Data Processing including AI (Note that this means we are currently limited to open source LLM's combined with our in-house embedings)</li>
        <li>User Accounts (This is why you will not see the service known as single-sign-in implemented from Google or other providers.)</li>
    </ul>

    <p>
        <h3>
            User Profile Information:
        </h3>
    </p>

    <p>All user profile information is provided on a voluntary basis.  There are no input fields for our user's real names for a reason. We ask that when selecting a username that you do not pick one that can be attributed to you from any other account or alias. There are some voluntary fields under the user profile section that GroupConscience.io may use to improve our services. These imputs may be used for future features that allow the AI to give results based on sobriety length, etc. We ask that if you decide to use them that you keep them current and honest.</p>

    <p>
        <h3>
            User Data Entry:
        </h3>
    </p>

    <p>Questions that our users ask to AI and the posts made through the input (IO) data entry may be included in public AI responses.  Please post with care.  Do not use any personally identifiable information in AI or post (Truth/Humor/Q&A) prompts.</p>


    <p>
        <h3>
            Summery
        </h3>
    </p>

    <p>GroupConcience.io is commited to helping its users and keeping strict adherence to the principle of anonymity.  Please do not hesitate to reach out to us with any concerns using the provided contact form.</p>
</div>
<section class="flexbox-contact-page-container">
    <div class="flexbox-container center">
        <div class="dialog-box-container">
            @*Start new form here.*@
            <div class="flexbox-container">
                <form method="post" action="/Contact" enctype="multipart/form-data">
                    <center><img src="/icon/device-message.svg" style="height:100px;justify-content:center;" /></center>
                    <center><h1>Contact</h1></center>
                    <div class="form-floating mb-3">
                        <p><div asp-validation-summary="ModelOnly" class="alert-color hidden"></div></p>
                        <input asp-for="Name" id="Name" class="form-control" placeholder="First/Last Name" required />
                        <label asp-for="Name">Name</label>
                        <p style="margin:5px;"><span asp-validation-for="Name" class="alert-color"></span></p>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Email" id="Email" class="form-control" placeholder="example@somewhere.com" required />
                        <label asp-for="Email"></label>
                        <p style="margin:5px;"><span asp-validation-for="Email" class="alert-color"></span></p>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea asp-for="Message" id="Message" class="form-control" style="height: 100px" placeholder="Message" required></textarea>
                        <label asp-for="Message"></label>
                        <p style="margin:5px;"><span asp-validation-for="Message" class="alert-color"></span></p>
                    </div>
                    <div class="form-floating mb-3">
                        <center><button type="submit" class="form-button">Send</button></center>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br />
</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


