@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Account confirmed!";
}
<div class="flexbox-container center">
    <div class="flexbox-container">
        <div class="flexbox-item-contact-center">

        </div>
    </div>
    <div class="flexbox-container">
        <div class="row dialog-box-container">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <center>
                    <div class="flexbox-item-contact">
                        <div class="login-logo">
                            <img style="max-width:150px;" class="ai-logo" src="~/img/gcai_logo_light.png" />
                            <center>@ViewData["Title"]</center>
                        </div>
                        <p class="general-body-text">You may now log in.</p>
                        <br />
                        <div>
                            <button type="submit" class="login-button">Login</button>
                        </div>
                    </div>
                </center>
            </form>
        </div>
    </div>
</div>

