@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Password reset email sent!";
}
<div class="login-logo">
<center><img style="max-height:150px;" src="/img/gcai_logo_light.png"></center>
<center>@ViewData["Title"]</center>
</div>
<center>
    
    <p class="general-body-text">
        Please check your email to reset your password.
    </p>
    
</center>

