@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration confirmation sent!";
}
<div class="login-logo">
    <center><img style="max-height:150px;" src="/img/gcai_logo_light.png"></center>
    <center>@ViewData["Title"]</center>
</div>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <center>
            <p class="general-body-text">
                Please check your email inbox/spam folder to confirm your account.
            </p>
        </center>
    }
    else
    {
        <center>
            <p class="general-body-text">
                Please check your email inbox/spam folder to confirm your account.
            </p>
        </center>
    }
}

