@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Cairo&family=Open+Sans:wght@300&family=Source+Code+Pro:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Playfair+Display&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
a {
    text-decoration: none !important;
    color: #ffead7;
}
h3 {
    font-weight: 900;
    opacity: .85;
}
th {
    font-weight: 800;
}
.home-campaign-lines-hero-container {
    display: flex;
    position: absolute;
    max-height: 0px; 
}
.home-campaign-lines-hero {
    display: flex;
    position: absolute;
    left: 5%;
    top:150px;
    width:30%;
}
.home-campaign-lines-hero2 {
    display: flex;
    position: absolute;
    left: 5%;
    top: 200px;
    width: 25%;
}
.home-campaign-lines-hero3 {
    display: flex;
    position: absolute;
    left: 5%;
    top: 250px;
    width: 20%;
}
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
body {
    background-image: linear-gradient(120.3deg,#bababa -50%,rgb(92, 107, 115, 1),#587b9a 150%);
    margin-top: 88px;
    margin-bottom: 0px;
}
.banner-fade-hidden {
    animation: banner-fade-out 3s ease 0s 1 normal forwards;
    animation-fill-mode: forwards;
    animation-duration: 1.25s;
}
@keyframes banner-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        max-height: 0;
        opacity: 0;
    }   
}
.ai-logo {
    width: 20vw;
    opacity: .5;
}
.contact-img {
    width: 10vw;
}
.secured-img{
    width: 300px;
}
.general-heading {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 400;
    font-size: calc(2vh + 2.72vw);
    padding: 10px;
    color: #0d1725;
    font-family: 'Taviraj', serif;
    text-align: center;
}
.general-heading-dark {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 400;
    font-size: calc(1em + 2.5vw);
    padding: 10px;
    color: #0d1725;
    font-family: 'Taviraj', serif;
    text-align: center;
}
.nav {
    text-decoration: none !important;
    height: 64px;
    
}
.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-image: linear-gradient(120.3deg,#bababa -100%,rgb(92, 107, 115, 1),#587b9a 300%);
    z-index:9999;
}
.navbar-nav .nav-link{
    padding: 10px;
}
.text-dark {
    font-size: 1.5rem;
    font-family: 'EB Garamond', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}
.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #484848;
}
.nav-link:hover {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: #333 !important;
    opacity: .65;
}
.user-tag-row {
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: #38405f !important;
    text-decoration: none;
    margin-bottom: -5px;
}
.tag-column {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
}
.tag-button {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: rgb(92, 107, 115, 1);
    margin: 5px;
    border-width: .5px;
    border-color: rgb(255,234,215, .15);
    border-style: solid;
}
.tag-button-sub {
    display: flex;
    align-items: center;
    margin: 5px;
}
.tag-button-sub:hover {
    display: flex;
    align-items: center;
    margin: 5px;
}
.tag-button:hover {
    background-color: rgb(92, 107, 115, 1);
    border-color: #0d1725; /*dark blue*/
    border-width: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    border-width: .5px;
    border-color: rgb(255,234,215, .15);
    border-style: solid;
}
.name-color {
    font-weight:600;
    font-family: 'EB Garamond', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.main-container{
    height:100vh;
}
.card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: calc(1rem + 1.5vw);
    font-weight: 800;
    max-height: 35px;
    padding: 0;
    padding-bottom: 40px;
    border-bottom: unset;
    background-color: unset;
}
.card-header-span {
    color: #E2E8DD;
    text-shadow: 0px 6px 6px rgb(58, 68, 73, .75);
    opacity: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.banner-text-container {
    display: flex;
    flex-direction: column;
    max-height: 0px;
}
.banner-text-row {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 19vw;
    padding-left: 10%;
    padding-right: 10%;
    min-width: 100%;
    font-size: calc(1rem + 2vw);
    font-family: 'EB Garamond', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 900;
    color: #E2E8DD;
    text-shadow: 0px 6px 6px rgb(58, 68, 73, .75);
    opacity: .75;
}
.border-bottom {
    border-bottom: 1px solid #0d1725 !important;
}
.banner-img {
    width: 100%;
    padding-bottom: 20px;
    opacity: 25%;
    transform: translateY(-20px);
}
.message-container{
    position:relative;
    margin-left:10vw;
    margin-right:10vw;
    width:80vw;
}
.ai-container {
    position: relative;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
}
footer {
    position: absolute;
    position: fixed;
    bottom: 0px;
    width: 100%;
    line-height: 20px !important;
    font-weight: 800;
    padding-left:10px;
    background-color: rgb(92, 107, 115, .95);
    border-color: #333 !important;
    border-width: .5px;
    z-index:9999;
}
.post-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    min-height: fit-content;
    max-height: 400px;
    border: 1px solid;
    border-color: #0d1725;
    border-radius: 15px;
    background: rgba(37, 50, 55, 1);
}
.tab-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    min-height: 82px;
    font-size: calc(1rem + .7vw);
    font-weight: 600;
    padding-left: 10px;
    padding-top: 10px;
    color: #bdbbb0;
    letter-spacing: .75px;
}
.tab1 {
    width: 33.33%;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 5px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.tab1:hover {
    background-color: rgb(58, 72, 78) !important;
}
.tab1.active {
    background-color: rgba(92, 107, 115, .25);
    border-top-right-radius: 30px;
}
.tab2 {
    width: 33.33%;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 5px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.tab2:hover {
    background-color: rgb(58, 72, 78) !important;
}
.tab2.active {
    background-color: rgba(92, 107, 115, .25);
    border-top-right-radius: 30px;

}
.tab3 {
    width: 33.33%;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 5px;
    padding-top: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.tab3:hover {
    background-color: rgb(58, 72, 78) !important;
}
.tab3.active {
    background-color: rgba(92, 107, 115, .25);
    border-top-right-radius: 30px;
}
.tab4-ai {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-right:10px;
    border-radius: 5px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(92, 107, 115, .25);
    border-top-right-radius: 30px;
}
.tab4-ai .active {
    background-color: rgba(92, 107, 115, .25);
    border-top-right-radius: 30px;
}
.indicator1.active {
    height: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(96, 100, 101, .5) !important;
    opacity: 1;
}
.indicator2.active {
    height: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(96, 100, 101, .5) !important;
}
.indicator3.active {
    height: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(96, 100, 101, .5) !important;
    opacity: 1;
}
.indicator4-ai {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(96, 100, 101, .5) !important;
    opacity: 1;
}
.scrollholder{
     display:flex;
     flex-direction:row;
     min-height:100px;
     margin-top: -100px;
}
.post-message-container1.active {
    border: 1px solid;
    border-color: #0d1725;
    border-radius: 15px;
    min-height: 200px;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    font-size: calc(.7vw + 1rem);
    color: #bababa;
    background: rgba(92, 107, 115, .25);
}

.post-message-container2.active {
    border: 1px solid;
    border-color: #0d1725;
    border-radius: 15px;
    min-height: 200px;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    font-size: calc(.7vw + 1rem);
    color: #bababa;
    background: rgba(92, 107, 115, .25);
}

.post-message-container3.active {
    border: 1px solid;
    border-color: #0d1725;
    border-radius: 15px;
    min-height: 90px;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    font-size: calc(.7vw + 1rem);
    color: #bababa;
    background: rgba(92, 107, 115, .25);
}

.post-message-container4.active {
    border: 1px solid;
    border-color: #0d1725;
    border-radius: 15px;
    min-height: 90px;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    font-size: calc(.7vw + 1rem);
    color: #bababa;
    background: rgba(92, 107, 115, .25)
}
.post-message-container5-AI {
    border: 1px solid;
    border-color: #0d1725;
    border-radius: 15px;
    min-height: 200px;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    font-size: calc(.7vw + 1rem);
    color: #bababa;
    background: rgba(92, 107, 115, .25)
}
.hide_textarea {
    display: none !important;
}
.spinner {
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 999;
    top: -200px;
    margin-left: 45.5%;
    margin-right: 46.5%;
}
.sk-grid-cube {
    width: 33.33%;
    height: 33.33%;
    background-color: rgba(255, 255, 255, 0.15) !important;
    float: left;
    animation: sk-grid 1.3s infinite ease-in-out;
    animation-delay: 0s;
}

.hidden {
    display: none !important;
}

.button-action-call{
    min-width: 100px;
    min-height: 40px;
}
.logout-button{

    font-size: 1.5rem;

}
.form-button {
    width:200px;
    height: 50px;
    font-weight: 400;
    font-size: 1.5rem;
    border-radius: 5px;
}
.button-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding-right: 10px;

    padding-bottom: 10px;
    margin-left:10px;
    font-size: calc(1rem + .25vw);
    font-weight: 800;
    color: #ffefd3;
}

.body-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.body-text{
    color: #bababa;
    font-weight: 600;
}
.flexbox-contact-portal {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    border-radius: 15px 15px 15px 15px;
}

.row-portal {
    min-width: 90vw;
    max-width: 90vw
}
.table-lable {
    display: flex;
    flex-direction: row;
    align-content: start;
    color: rgb(255,234,215, 1);
}
th{
    padding: 5px;
}
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.25rem;
    font-weight: 300;
    width: auto;
    min-width: 100%;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 15px #333;
    padding: 10px;
    background-color: #fff2e5;
}
.content-table a {
    color:unset;
}
.content-table a:hover {
    color: darkslateblue;
}
.medgrey-text {
    color: #4e5084;
    font-size: calc(1rem + .75vw);
    font-weight: 300;
    padding: 5px;
    border: 1px solid #94949467;
}

.medred-text {
    color: #844141;
    font-size: calc(1.8*1.05vw);
    font-weight: 300;
    padding: 5px;
    min-width: calc(13vw);
    border: 1px solid #94949467;
    text-align: start;
}
.dialog-box-container::after {
    padding: 20px;
}
.dialog-box-container {
    box-shadow: 0 0 10px #333;
    border-radius: 15px 15px 15px 15px;
    border: .5px solid black;
    width: 367px;

}
.flexbox-container{
    padding-top: 25px;
    padding-bottom: 25px;
}
.edit-flexbox-container {
    transition: all .1s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: max-content;
    max-width: 500px;
    margin-top:150px;
    margin-bottom:150px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}
.edit-heading {
    padding: 30px;
    font-weight: 800;
    color: #333;
}
.edit-button {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 40px;
    border: 1px solid;
    border-color: #0d1725;
    border-radius: 10px;
    justify-content: center;
    color: #333;
    text-align: center;
    font-weight: 600;
    margin-top:25px;
}
.dialog-box-container-edit {
    box-shadow: 0 0 10px #333;
    border-radius: 5px 5px 5px 5px;
    border: .5px solid rgb(92, 107, 115, 1);
    margin: 10px;
    min-width: 100%;
    background-color: #808080;
}

.edit-form {
    min-width: 100%;
    max-width: 80%;
    
}

.edit-center {
    max-width: 80%;
}
.center {
    display: flex;
    justify-content:center;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 15px;

}
.control-label{
    font-size: 18px;
    font-weight:500;
    padding-bottom: 5px;
}
.flexbox-contact-page-container {
    background-image: linear-gradient(rgb(92, 107, 115, 1) 120.3deg,#bababa -50%,#bababa,#587b9a 150%);
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.flexbox-contact-dialog-container {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    min-width: 365px;
}
.contact-heading {
    text-align: center;
    padding-bottom: 10px;
    font-weight: 600 !important;
    font-size: 2.5rem;
}
.button1 {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 50px;
    border: 1px solid;
    border-color: rgba(153, 178, 221, 0);
    border-radius: 10px;
    margin-left: 10px;
    justify-content: center;
    text-align: center;
    color: rgb(156, 156, 159);
}
.button2 {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 50px;
    border: 1px solid;
    border-color: rgba(153, 178, 221, 0);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    color: rgb(156, 156, 159);
}
.button3 {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 50px;
    border: 1px solid;
    border-color: rgba(153, 178, 221, 0);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    color: rgb(156, 156, 159);
}
.button4 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 50px;
    border: 1px solid;
    border-color: #0d1725;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    background-color: rgba(92, 107, 115, .25);
    color: rgb(156, 156, 159);
}
.button4:hover {
    background-color: rgba(153, 178, 221, .25) !important;
}

.button5 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    margin-left: 5px;
    height: 50px;
    border: 1px solid;
    border-color: #0d1725;
    border-radius: 10px;
    margin-right: 10px;
    justify-content: center;
    text-align: center;
    background-color: rgba(92, 107, 115, .25);
    color: rgb(156, 156, 159);
}
.button5:hover {
    background-color: rgba(153, 178, 221, .25) !important;
}
.banner-container {
    display: flex;
    flex-direction: column;
    height:0px;
}
.banner-row{
    display:flex;
    flex-direction: row;
    justify-content:center;
    transform: translateY(-85%);

}

.angled-left {
    width: 35vw;
    border: 1px solid #0d1725a7;
    border-radius: 10px;
    transform: perspective(500px) rotateY(10deg) rotateX(10deg) scale(.9);
    margin: 4vw 10vw;
    box-shadow: 5px 21px 35px 0px rgba(0,0,0,.5);
    padding-bottom: 10px;
    background-color: rgba(92, 107, 115, 1);
    animation: notransform 0s ease-in-out;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    transition-duration: .5s;
}
    .angled-left:hover {
        background-color: rgb(118, 134, 143, 1);
        transform: none;
        animation: notransform 5s ease-in-out;
        -webkit-animation-delay: 2.5s;
        animation-delay: 0s;
        transition-duration: .5s;

    }
.angled-right {
    width: 35vw;
    border: 1px solid #0d1725a7;
    border-radius: 10px;
    transform: perspective(500px) rotateY(-10deg) rotateX(10deg) scale(.9);
    margin: 4vw 10vw;
    box-shadow: 5px 21px 35px 0px rgba(0,0,0,.5);
    padding-bottom: 10px;
    background-color: rgba(92, 107, 115, 1);
    animation: notransform 0s ease-in-out;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    transition-duration: .5s;
}
    .angled-right:hover {
        background-color: rgb(118, 134, 143, 1);
        transform: none;
        animation: notransform 5s ease-in-out;
        -webkit-animation-delay: 5s;
        animation-delay: 0s;
        transition-duration: .5s;
    }
@-webkit-keyframes notransform {
    50% {
        transform: none;
    }
}

@keyframes notransform {
    50% {
        transform: none;
    }
}
.io-example-heading-right {
    padding: 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    color: #484848;
    /*text-shadow: 0px 4px 4px rgb(58, 68, 73, .25);*/
    font-family: 'Taviraj', serif;
    font-size: calc(4vw);
    padding: 5px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}
.io-example-heading-left {
    padding: 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    color: #484848;
    /*text-shadow: 0px 4px 4px rgb(58, 68, 73, .25);*/
    font-family: 'Taviraj', serif;
    font-size: calc(4vw);
    padding: 5px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}
.io-example {
    width: 30vw;
    margin: 5px;
}


.intro-ai-text {
    font-family: 'Taviraj', serif !important;
    padding-top: 50px;
    font-weight: 600;
    color: rgba(37, 50, 55, .85);
    text-shadow: 0px 4px 4px rgb(58, 68, 73, .25);

}
.intro-heading-ai {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: calc(1.25em + 2.2vw);
    padding: 10px;
    font-weight: 600;
    color: rgba(37, 50, 55, .85);
    text-shadow: 0px 4px 4px rgb(58, 68, 73, .25);

    font-family: 'Taviraj', serif !important;
    text-align: left;
}
.intro-heading {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 600;
    color: rgba(37, 50, 55, .85);
    text-shadow: 0px 4px 4px rgb(58, 68, 73, .25);
    font-family: 'Taviraj', serif;
    font-size: calc(1.25em + 2.2vw);
    padding: 10px;
    text-align: left;
}
.intro-io-text {
    padding-top: 10px;
}
.intro-io-subtext {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Taviraj', serif;
    text-align: left;
    font-size: calc(1.1rem + 1.05vw);
    font-weight: 400;
    color: #353535 !important;
}
.heading1 {
    font-weight: 600;
    font-size: calc(.75em + 1vw);
    letter-spacing: .015em;
    color: #0d1725;
}

.intro-text {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    font-family: 'Taviraj', serif;
    text-align: left;
    font-size: calc(1.1rem + 1.05vw);
    font-weight: 400;
    color: #353535 !important;
    
}
.intro-hidden {
    animation: intro-fadeOut 4s;
    display: none !important;
}
.intro-un-hidden {
    animation: fadeIn 4s;
    display: flex !important;
}
@keyframes intro-fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes intro-fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.terms-text {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 200;
    font-size: 24px;
    padding: 10px;
    color: #0d1725; /*dark blue*/
    font-family: 'Taviraj', serif;
    text-align: left;
    text-shadow: 2px 2px 10px #ffead7;
}
.terms-text.h3 {
    font-weight: 500;
}

.messages-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    min-height: max-content;
    margin-left: 9.5%;
    margin-right: 9.5%;
    margin-top: 50px;
    border: 1px solid;
    border-color: #0d1725;
    border-radius: 15px;
    background: rgba(37, 50, 55, .85);
}
/*this is the titlebar*/
.user-message-container {
    box-sizing: border-box !important;
    min-height: 100%;
    margin: 10px;
    background: rgba(92, 107, 115, .25)
}
/*this is the message heading*/
.user-message-container h3 {
    box-sizing: border-box !important;
    font-family: 'Open Sans', sans-serif !important;

}
.user-message-container p {
    box-sizing: border-box !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 200 !important;
    font-size: calc(1vw + 1rem) !important;
    font-weight: bold;

}

.avatar-row {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    color: #bababa;
    
}
.avatar-column {



}
.user-info-container{
    display:flex;
    justify-content:end;
}

.avatar-row-user {
    display: flex;
    flex-direction: row;
    min-width: 100px;
    justify-content: end;
}
.avatar-row-user-count {
    display: flex;
    flex-direction: column;
    max-width: 28px;
}
.avatar-row-user-badge {
    display: flex;
    flex-direction: row;
    min-width: 25px;

}
.material-symbols-outlined {
    color: rgb(156, 156, 159);
    font-size: 25px;
}
.total-contributions {
    color: #bababa !important;
}
.vote-count {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    border-radius: 5px;
    height: 22.5px;
    width: auto;
    padding-left: 2.5px;
    padding-right: 2.5px;
    justify-items: center;
    align-items: center;
    font-size: 10px;
    font-weight: 900;
    color: #ffead7;
    background: #0d1725aa;
    border-color: black;
    opacity: .65;
    position: relative;
    left: -15px;
    top: -5px;
}

.message-column {
    display: flex;
    flex-direction: column;
}
.message-row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding: 10px;
    color: #c7c7c7;
}
.message-h3-heading {
    font-size: calc(1.3rem + .6vw);
    opacity: .85;
    margin-bottom: 5px;
    color: #bdbbb0;
}
.message-paragraph {
    margin-top: -20px;
    margin-bottom: 5px;
    font-size: calc(1.1rem + 1.05vw);
    line-height: 1.15;
    font-weight: 400;
    /*color: rgb(118, 134, 143, 1);*/
    /*color: #738596;*/
    color: rgb(156, 156, 159);

}

.response-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    margin:unset;
    padding:10px;
}
.ai-response {
    font-size: calc(1.1rem + 1.05vw);
    font-weight: 400;
    
}
.ai-question {
    font-size: calc(1.1rem + 1.05vw);
    font-weight: 400;

}
.member-question {
    font-size: calc(1.1rem + 1.05vw);
    font-weight: 400;

}
.member-answer {
    font-size: calc(1.1rem + 1.05vw);
    font-weight: 400;

}
.member-truth {
    font-size: calc(1.1rem + 1.05vw);
    font-weight: 400;

}
.member-humor {
    font-size: calc(1.1rem + 1.05vw);
    font-weight: 400;
}


.response-column1 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: .5px solid rgba(92, 107, 115, .5);
}
.response-column1:hover {
    background: rgba(92, 107, 115, .25);
    border: .5px solid rgba(92, 107, 115, .85);
}

.response-column2 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: .5px solid rgba(92, 107, 115, .5);
}
.response-column2:hover {
    background: rgba(92, 107, 115, .25);
    border: .5px solid rgba(92, 107, 115, .85);
}

.response-column3 {
    padding: 10px;
}
.response-column3 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: .5px solid rgba(92, 107, 115, .5);
}
.response-column3:hover {
    background: rgba(92, 107, 115, .25);
    border: .5px solid rgba(92, 107, 115, .85);
}
.response-column4 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: .5px solid rgba(92, 107, 115, .5);
}
.response-column4:hover {
    background: rgba(92, 107, 115, .25);
    border: .5px solid rgba(92, 107, 115, .85);
}
/*careful this the middle one*/
.response-column5 {
    width: 78vw;
}

.ai-response-column1 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: .5px solid rgba(92, 107, 115, .5);
}

    .ai-response-column1:hover {
        background: rgba(92, 107, 115, .25);
        border: .5px solid rgba(92, 107, 115, .85);
    }

.ai-response-column2 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: .5px solid rgba(92, 107, 115, .5);
}

    .ai-response-column2:hover {
        background: rgba(92, 107, 115, .25);
        border: .5px solid rgba(92, 107, 115, .85);
    }

.ai-response-column3 {
    padding: 10px;
}

/*.ai-response-column3 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: .5px solid rgba(92, 107, 115, .5);
}

    .ai-response-column3:hover {
        background: rgba(92, 107, 115, .25);
        border: .5px solid rgba(92, 107, 115, .85);
    }*/

.ai-response-column4 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: .5px solid rgba(92, 107, 115, .5);
}

    .ai-response-column4:hover {
        background: rgba(92, 107, 115, .25);
        border: .5px solid rgba(92, 107, 115, .85);
    }
/*careful this the middle one*/
.ai-response-column5 {
    width: 78vw;
}
/*-----tooltips-----*/
.response-column4:hover::before {
    content: 'Report as harmful!';
    position: absolute;
    max-height: 35px;
    line-height: 1.5rem;
    text-align: center;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    background-color: #333;
    color: #bababa;
    font-weight: 400;
    opacity:.85;
    padding: 5px;
    border-radius: 5px;
    transform: translate3d(-40%,-175%,0);
    animation: fadeIn 2.5s;
}

.response-column4:hover::after {
    content: '';
    position: absolute;
    transform: translate3d(10%,-115%,0);
    border: 10px solid transparent;
    border-top-color: #333;
    animation: fadeIn 2.5s;
}

.response-column3:hover::before {
    content: 'Add to favorites!';
    position: absolute;
    max-height: 35px;
    line-height: 1.5rem;
    text-align: center;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    background-color: #333;
    color: #bababa;
    font-weight: 400;
    opacity: .85;
    padding: 5px;
    border-radius: 5px;
    transform: translate3d(-40%,-175%,0);
    animation: fadeIn 2.5s;
}

.response-column3:hover::after {
    content: '';
    position: absolute;
    transform: translate3d(10%,-115%,0);
    border: 10px solid transparent;
    border-top-color: #333;
    animation: fadeIn 2.5s;
}

.response-column2:hover::before {
    content: 'Vote to exclude from AI!';
    position: absolute;
    max-height: 35px;
    line-height: 1.5rem;
    text-align: center;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    background-color: #333;
    color: #bababa;
    font-weight: 400;
    opacity: .85;
    padding: 5px;
    border-radius: 5px;
    transform: translate3d(-40%,-175%,0);
    animation: fadeIn 2.5s;
}

.response-column2:hover::after {
    content: '';
    position: absolute;
    transform: translate3d(10%,-115%,0);
    border: 10px solid transparent;
    border-top-color: #333;
    animation: fadeIn 2.5s;
}

.response-column1:hover::before {
    content: 'Vote to include in AI!';
    position: absolute;
    max-height: 35px;
    line-height: 1.5rem;
    text-align: center;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    background-color: #333;
    color: #bababa;
    font-weight: 400;
    opacity: .85;
    padding: 5px;
    border-radius: 5px;
    transform: translate3d(-40%,-175%,0);
    animation: fadeIn 2.5s;
}

.response-column1:hover::after {
    content: '';
    position: absolute;
    transform: translate3d(10%,-115%,0);
    border: 10px solid transparent;
    border-top-color: #333;
    animation: fadeIn 2.5s;
}



.ai-response-column4:hover::before {
    content: 'Report as harmful!';
    position: absolute;
    max-height: 35px;
    line-height: 1.5rem;
    text-align: center;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    background-color: #333;
    color: #bababa;
    font-weight: 400;
    opacity: .85;
    color: #bababa;
    padding: 5px;
    border-radius: 5px;
    transform: translate3d(-40%,-175%,0);
    animation: fadeIn 2.5s;
}

.ai-response-column4:hover::after {
    content: '';
    position: absolute;
    transform: translate3d(10%,-115%,0);
    border: 10px solid transparent;
    border-top-color: #333;
    animation: fadeIn 2.5s;
}

/*.ai-response-column3:hover::before {
    content: 'Add to favorites!';
    position: absolute;
    max-height: 35px;
    line-height: 1.5rem;
    text-align: center;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    background-color: #333;
    color:#bababa;
    padding: 5px;
    border-radius: 5px;
    transform: translate3d(-40%,-175%,0);
    animation: fadeIn 2.5s;
}

.ai-response-column3:hover::after {
    content: '';
    position: absolute;
    transform: translate3d(10%,-115%,0);
    border: 10px solid transparent;
    border-top-color: #333;
    animation: fadeIn 2.5s;
}*/

.ai-response-column2:hover::before {
    content: 'Disapprove response!';
    position: absolute;
    max-height: 35px;
    line-height: 1.5rem;
    text-align: center;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    background-color: #333;
    color: #bababa;
    padding: 5px;
    border-radius: 5px;
    transform: translate3d(-40%,-175%,0);
    animation: fadeIn 2.5s;
}

.ai-response-column2:hover::after {
    content: '';
    position: absolute;
    transform: translate3d(10%,-115%,0);
    border: 10px solid transparent;
    border-top-color: #333;
    animation: fadeIn 2.5s;
}

.ai-response-column1:hover::before {
    content: 'Approve response!';
    position: absolute;
    max-height: 35px;
    line-height: 1.5rem;
    text-align: center;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    background-color: #333;
    color:#bababa;
    padding: 5px;
    border-radius: 5px;
    transform: translate3d(-40%,-175%,0);
    animation: fadeIn 2.5s;
}

.ai-response-column1:hover::after {
    content: '';
    position: absolute;
    transform: translate3d(10%,-115%,0);
    border: 10px solid transparent;
    border-top-color: #333;
    animation: fadeIn 2.5s;
}

.banner-hidden{
    transition: ease-in-out 2s;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*----end tooltips-------*/

.filter-red {
    filter: invert(35%) sepia(10%) saturate(3253%) hue-rotate(322deg) brightness(70%) contrast(60%);
}
.filter-gold {
    filter: invert(100%) sepia(44%) saturate(2678%) hue-rotate(320deg) brightness(70%) contrast(60%);
}
.filter-green {
    filter: invert(96%) sepia(98%) saturate(5535%) hue-rotate(67deg) brightness(60%) contrast(40%);
}
.filter-red:hover {
    filter: invert(35%) sepia(10%) saturate(3253%) hue-rotate(322deg) brightness(85%) contrast(85%);
    transition: ease-in-out;
}
.filter-gold:hover {
    filter: invert(100%) sepia(44%) saturate(2678%) hue-rotate(320deg) brightness(85%) contrast(95%);
    transition: ease-in-out;
}

.filter-green:hover {
    filter: invert(96%) sepia(98%) saturate(5535%) hue-rotate(67deg) brightness(65%) contrast(65%);
    transition: ease-in-out;
}
.avatar-img {
    color: red;
    fill: currentColor;
    width: 60px;
    height: 60px;
    padding-left:5px;
}
.thumbs-up-img {
    color: red;
    fill: currentColor;
    display: inline-block;
    width: 25px;
    height: 25px;
}
.thumbs-dn-img {
    color: red;
    fill: currentColor;
    display: inline-block;
    width: 25px;
    height: 25px;
}
.star-img {
    color: red;
    fill: currentColor;
    display: inline-block;
    width: 25px;
    height: 25px;
    transform: scale(1.15)
}
.report-img {
    display: inline-block;
    width: 25px;
    height: 25px;
    transform: scale(1.25)
}
.padding-right-5{
    padding-right: 5px;
}
.insert-messages{
    min-width: 100%;
    margin: unset;
    padding: unset;
}
.insert-ai-response {
    min-width: 100%;
    margin: unset;
    padding: unset;
}

.login-container-row {
    display: flex;
    flex-direction: row;
    padding-top:20px;
    padding-bottom:20px;

}
.login-container-column {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    box-shadow: 0 0 10px #333;
    border-radius: 15px 15px 15px 15px;
    border: 0.5px solid #0d1725;
    width: 367px;
    background-color: rgba(92, 107, 115, .25);
}
.form-floating {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;   
}
.checkbox {
    margin-left: 5%;
    padding-left: 5px;
}
.form-control {
    font-size: 1.25rem;
}
.login-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    border: 1px solid #0d1725;
    border-radius: 10px;
    height: 50px;
    max-width: 90%;
}
.login-links {
    margin-left: 5%;
    margin-top: 5%;
    box-sizing: border-box !important;
    font-family: 'Open Sans', sans-serif !important;
    opacity: .8;
    font-weight: 500 !important;
    font-size: 1.25rem !important;
}
.login-links a:hover {
    color: black !important;
}
.login-logo{
    text-align:center;
    padding-top:50px;
    padding-bottom:10px;
    font-weight:800;
    font-size: 2.5rem;
}
.text-danger {
    color: #bababa !important;
    font-weight: 700 !important;
    font-size: 1.2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*--------Card Begin-----------*/
.card {
    margin-right: 9.5%;
    margin-left:9.5%;
    margin-bottom: 5px;
    margin-top:5px;
    width: 400px;
    width: 80vw;
    min-height: 338px;
    border-color: transparent;
    background-color: transparent;
}
.card__inner{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor:pointer;
    position:relative;

}
.card__inner.is--flipped{
    transform: rotateY(180deg);
}
.card__face {
    position:absolute;
    --webkit-backface-visibility:hidden;
    backface-visibility: hidden; 
    overflow: hidden;
    border-radius:15px;
    box-shadow: 0px 3px, 18px, 3px rgba(0,0,0, 0.2);

}
.card__face--front {

    display: flex;
    align-items: center;
    justify-content: center;
}
.card__face--back {
    
    transform: rotateY(180deg);
}
/*------------Card End--------*/
.general-body-text {
    font-size: calc(1.5v + 1.25vw);
    letter-spacing: .25;
    font-weight: 500;
}
@media (max-width: 820px) {
    .heading1 {
        font-weight: 600;
        font-size: calc(1.5vh + 1.25vw);
        letter-spacing: .025em;
    }
}
@media (max-width: 450px) {
    .banner-container {
        transform: translateY(20px)
    }
    .general-body-text {
        font-size: calc(1.5 + 1.5vw);
        transition: ease;
    }
    .heading1 {
        font-weight: 600;
        font-size: calc(.9em + 1.25vw);
        letter-spacing: .015em;
    }
}
@media (max-width: 400px) {
    .banner-container {
        transform: translateY(30px)
    }

}

/*------------Toggle Begin---------*/
.toggle-description {
    padding-right: 5px;
    font-weight: 600;
    color: #bdbbb0;
}
.toggle-container {
    font-family: OpenSans, sans-serif;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 10%;
    margin-left: 10%;
    padding-right: 25px;
}

.on-off-toggle {
    width: 56px;
    height: 24px;
    position: relative;
    display: inline-block;
}

.on-off-toggle__slider {
    width: 68px;
    height: 24px;
    display: block;
    border-radius: 34px;
    background-color: rgb(96, 100, 101, .5) !important;
    border: .5px solid;
    border-color: rgb(56, 60, 62, .5) !important;
    transition: background-color 0.4s;
    padding-right: 4px;
    padding-left: 2px;
    &:before {
    color: #484848;
    content: '';
    display: block;
    background-color: #484848;
    box-shadow: 0 0 0 1px #353535;
    bottom: 3px;
    height: 18px;
    position: absolute;
    transition: .4s;
    width: 18px;
    z-index: 5;
    border-radius: 100%;
}

&:after {
    display: block;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    opacity: .65;
    content: 'SHARE';
    color: #bdbbb0;
    padding-left: 21px;
    transition: all 0.4s;
    border-width: 2px;
    border-color: black;
}

}

.on-off-toggle__input {
    position: absolute;
    
    opacity: 0;
}

    .on-off-toggle__input:checked +
    .on-off-toggle__slider {
        padding-left:2px;
        &:before
            

{
    transform: translateX(45px);
    
}

&:after {
    content: 'CHAT';
    color: #bdbbb0;
    font-size: 12px;
    font-weight: bold;
    opacity: .65;
    padding-left: 8px;
}
/*------------Toggle End-----------*/
/*----begin toast-----*/


/*----end toast-----*/


